/* This file is for your main application CSS */

.help-block {
    color: red;
    text-transform: capitalize;
    position: absolute;
    top: 35px;
}

.form-control {
    position: relative;
    margin-bottom: 25px;
}